<div style="padding:0; margin:0;font:14px/15px Microsoft YaHei;color:#6e6e6e;background:#f2f2f2;">
  <div style="max-width:640px;padding:20px;text-align:left; margin:0 auto 20px;background: #fff;">
    <p style="color: #333;">您好 {email}：</p>
    <p>您当前接收得验证码为：{code}</p>
    <p>该验证码10分钟内有效，请勿重复发送。</p>

    <div style="margin:20px 0;text-align:right;">
      <p><a style="color: #6e6e6e;" href="{href}">Safe Chat</a></p>
      <p>{date}</p>
    </div>

    <div style="text-align:center">
      <div style="width:180px;height:180px;margin:0 auto;padding:5px;border-radius: 5px;box-shadow:0 0 10px 5px rgba(0,0,0,.1);">
        <img src="https://user-gold-cdn.xitu.io/2019/10/12/16dbfa309b37856b?imageView2/0/w/1280/h/960/format/webp/ignore-error/1" alt="前端develop" style="width:100%;">
      </div>
      <figure>扫码关注公众号</figure>
    </div>

    <p style="text-align:center;">&copy;2019 Safe Chat</p>
  </div>
</div>
